    .board td {
        width: 30px;
        height: 30px;
        text-align: center;
        transition: 0.5s;
        display: inline-block;
    }
    
    td:hover {
        background-color: rgb(20, 134, 49);
        box-shadow: 15px 17px 118px 30px rgb(51, 198, 214);
    }
    
    .table {
        top: 30%;
        border-color: rgb(0, 0, 0);
        animation: glow 8000ms ease-out infinite alternate;
        background: #222922;
        background: linear-gradient(#333839, #222922);
        color: rgb(255, 255, 255);
        outline: none;
        background: #79c4f0;
        background: linear-gradient(#393939, #292929);
    }
    
    @keyframes glow {
        0% {
            border-color: rgb(37, 7, 143);
            box-shadow: 0 0 5px rgba(87, 23, 124, 0.2), inset 0 0 5px rgba(89, 58, 145, 0.603), 0 2px 0 #000;
        }
        100% {
            border-color: rgb(184, 184, 207);
            box-shadow: 0 0 20px rgba(85, 31, 156, 0.6), inset 0 0 10px rgba(24, 8, 109, 0.4), 0 2px 0 #000;
        }
    }
    
    img {
        width: 30px;
    }
    
    .img {
        width: 70px;
    }
    
    .board td:hover {
        background-color: rgb(194, 188, 186);
        cursor: pointer;
    }
    
    .occupied {
        background-color: rgb(0, 0, 0);
    }
    
    body {
        background-color: black;
    }
    
    .cell {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1.5em;
    }
    
    .content {
        max-width: 500px;
        margin: auto;
    }
    
    .header {
        border-radius: 30px;
        background-color: rgba(7, 80, 122, 0.048);
        font-family: "Arial Black", sans-serif;
        letter-spacing: 5px;
        color: rgb(61, 210, 230);
        font-size: 50px;
        text-align: center;
        /* float: center; */
        margin: auto;
        animation: blinker 4.6s linear infinite;
        font-weight: bold;
        font-family: sans-serif;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
        background-position: center;
        max-width: 400px;
        margin-left: 40px;
    }
    
    @keyframes blinker {
        50% {
            opacity: 0.7;
        }
    }
    
    .easy {
        -moz-transform: skew(-21deg, 5deg);
        -webkit-transform: skew(-21deg, 5deg);
        -o-transform: skew(-21deg, 5deg);
        -ms-transform: skew(-21deg, 5deg);
        transform: skew(-21deg, 5deg);
        margin-left: 500px;
        width: 200px;
        bottom: 0px;
        padding-right: 70px;
    }
    
    .btn {
        cursor: pointer;
        width: 200px;
        height: 50px;
        background-color: rgba(30, 30, 145, 0.747);
        text-align: center;
        margin: 0px 0px 0px 140px;
        border-color: silver;
        border-radius: 20px;
        border-style: solid;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
        background: #232323;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }
    
    .btn:hover {
        box-shadow: -5px 7px 118px 30px rgba(117, 213, 224, 0.83);
    }
    
    .button:hover {
        box-shadow: -5px 7px 118px 30px rgba(117, 213, 224, 0.83);
    }
    
    .hide {
        display: none;
    }
    
    .timer {
        font-style: italic;
        width: 200px;
        padding-right: 70px;
        font-size: 50px;
        color: rgb(0, 0, 0);
        float: left;
        display: block;
        border-radius: 40px;
        border: 6px;
        text-align: center;
        background: #3333333f;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }
    
    .center {
        margin: auto;
    }
    
    .smiley {
        margin: auto;
        width: 50px
    }